<div ng-cloack ng-include="'ng/shared/navbar/navView.html'"></div> 

<div ng-cloack class="page-header col-md-10 col-md-offset-1">
    <h1> Kereső  </h1>
</div>

<form class="form-horizontal" 
        role="form" ng-submit="search()">

	<div class="form-group ">
	    <label class="control-label col-md-2 col-md-offset-1" for="bh_name">
	        Szabad szöveg:
	    </label> 

	    <div class="col-md-7" id="free-text" >
	        <input class="form-control" 
	            type="text"  
	            placeholder="Szabad szöveges keresés" 
	            ng-model="freeSearch" > 
	        </input> 
	    </div>
	</div>

	<div class="text-center">
        <button class="btn btn-success formBtn" type="submit"> 
            <i class="fa fa-search"></i>
            Keresés
        </button> 
    </div>

</form>

<div class="col-md-10 col-md-offset-1" ng-show="results">
	
	<h3> Eltelt idő: {{ results.took }} ms</h3>
	<h3> Találatok: {{ results.hits.total }} </h3>

	<ol>
		<li class="resList" ng-repeat=" result in results.hits.hits ">
			<div class="list-group">
			  	<a  class="list-group-item"
			  		href="#view/id/{{ result._source.id }}"
			  		target="_blank">

			    	<h4 class="list-group-item-heading">
			    		BH: {{ result._source.bh_name }}
			    	</h4>
			    	<div class="list-group-item-text">
			    		<ul ng-repeat=" hl in result.highlight track by $index">
							<li ng-repeat=" hls in hl track by $index ">
								<span ng-bind-html = "hls" ></span>
							</li>
						</ul>
			    	</div>					    	
			  	</a>
			</div>
		</li>
	</ol>

</div>

<div class="col-md-10 col-md-offset-1" ng-show="results">
	<pre>
		{{ results | json }}
	</pre>
</div>

