<div ng-include="'ng/shared/navbar/navView.html'"></div> 

<div>
    <div class="jumbotron">
        <h1>Felhasználók</h1>
    </div>
</div>

 <div class="row">
    <div class="form-group">
        <div class="col-md-6"> <input type="text" class="form-control" 
            placeholder="Szűrő" ng-model="filter" /> 
        </div>
    </div>
</div>


<table class="table table-striped table-responsive table-hover">

    <thead>
        <tr>

            <th>
                <a href="" ng-click="predicate = 'nickname'; reverse=!reverse">
                    Felhasználónév
                    <span ng-show="predicate == 'nickname'">
                       <span ng-hide="reverse">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </span>
                        <span ng-show="reverse">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </span>
                    </span>
                </a>
            </th>

            <th>
                <a href="" ng-click="predicate = '_id'; reverse=!reverse">ID
                    <span ng-show="predicate == '_id'">
                       <span ng-hide="reverse">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </span>
                        <span ng-show="reverse">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </span>
                    </span>
                </a>
            </th>


            <th>
                <a href="" ng-click="predicate = 'role'; reverse=!reverse">Jogosultság
                    <span ng-show="predicate == 'role'">
                       <span ng-hide="reverse">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </span>
                        <span ng-show="reverse">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </span>
                    </span>
                </a>
            </th>


            <th>
                <a href="" ng-click="predicate = 'created_at'; reverse=!reverse">Létrehozva
                    <span ng-show="predicate == 'created_at'">
                        <span ng-hide="reverse">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </span>
                        <span ng-show="reverse">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </span>
                    </span>
                </a>
            </th>

            <th>Törlés</th>

        </tr>
    </thead>

    <tbody>
        
        <tr ng-repeat="user in data | filter:filter | orderBy:predicate:reverse">
                
            <td> <a href="#admin/id/{{user._id}}">{{ user.nickname }}</a> </td>

            <td> {{ user._id }} </td>
            
            <td> {{ user.role }} </td>

            <td> {{ user.created_at | date:"y-MM-dd H:mm:ss" }} </td>

            <td>
                <button class="btn btn-danger" 
                    ng-click="deleteAccount(user._id)" 
                    type="button">

                    <span class="glyphicon glyphicon-remove"></span>
                 </button>
            </td>
        </tr>
    </tbody>
</table>

