<nav ng-controller="navCtrl" 
    class="navbar navbar-default navbar-fixed-top navbar-inverse">

    <div class="container-fluid">
        <div class="navbar-header">
            <b class="navbar-brand">THECA</b>
        </div>

        <div>
            <ul class="nav navbar-nav">

<!-- <div ng-controller="translateCtrl" >
    <button ng-click="changeLanguage('de')" translate="GERMAN"></button>
    <button ng-click="changeLanguage('en')" translate="ENGLISH"></button>
    <button ng-click="test()" >TEST</button>
</div> -->

                <li ng-hide="path === '/list'">
                    <a class=""  href="#list">
                        <i class="fa fa-list"></i>        
                            Lista
                    </a>
                </li>
            
                <li ng-hide="path === '/search'">
                    <a class=""  href="#search">
                        <i class="fa fa-search"></i>        
                            Kereső
                    </a>
                </li>
           
                <li ng-hide="!loggedInUser.username || path !== viewPathId">
                    <a class=""  href="#edit/id/{{rec._id}}">
                        <i class="fa fa-pencil-square-o"></i>
                        Szerkesztő
                    </a>
                </li>

                <li ng-show="path === editPathId ">
                    <a class=""  href="#view/id/{{rec._id}}">
                        <i class="fa fa-eye"></i>
                        Részletek
                    </a>
                </li>


                <li ng-hide="!loggedInUser.username || path === '/upload' ">
                    <a class="" href="#upload">
                        <i class="fa fa-upload"></i>
                        Feltöltés
                    </a> 
                </li>

                <li ng-controller="translateCtrl" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"> 
                    
                        <i class="fa fa-language" aria-hidden="true"></i>
                        Langauage ( {{currentLanguage}} ) <span class="caret"></span></a>
                    
                    <ul class="dropdown-menu">
                        
                        <li>
                            <a href="" ng-click="changeLanguage('hu')" translate="Magyar"></a>
                        </li>

                        <li>
                            <a href="" ng-click="changeLanguage('en')" translate="English"></a>
                        </li>

                    </ul>
                </li>

                <!-- <li class="btn btn-default"> {{ path }} || {{ pathId }} </li> -->
            </ul>


                <div id="userNav">

                    <ul class="nav navbar-nav">


                        <li ng-hide="path === '/signup' || loggedInUser.username">
                            <a class=""  href="#signup">
                            <i class="fa fa-key"></i>
                                Regisztráció
                            </a>
                        </li>

                        <li>
                            <a ng-hide="path === '/login' || loggedInUser.username" 
                                class=""  
                                href="#login">
                                <i class="fa fa-sign-in"></i>
                                Bejelentkezés
                            </a>
                        </li>

                        <li>
                           <a ng-show="loggedInUser.username" class="" 
                                href="#profile/id/{{loggedInUser._id}}">
                                <i class="fa fa-user"></i>
                                <b>
                                    {{ loggedInUser.nickname }}
                                    <small>
                                        ({{ loggedInUser.role }}) 
                                    </small>
                                </b>
                            </a>
                           <!-- <h4>isLoggedIn : {{ isLoggedIn }}</h4> -->
                        </li>

                        <li>
                            <a ng-show="loggedInUser.username" class="" 
                                href="/logout">
                                <i class="fa fa-sign-out"></i>
                                Kijelentkezés
                            </a>
                        </li>

                        <!--   
                            <li>
                                <a ng-show="loggedInUser.username" 
                                    class="btn btn-default" href="#users">
                                    Felhasználók
                                </a>
                            </li>
                        -->
                </div>
                
            </ul>
        </div>
    </div>
</nav>