<div ng-cloack ng-include="'ng/shared/navbar/navView.html'"></div> 

<div ng-cloack class="page-header col-md-10 col-md-offset-1">
    <h1> {{ rec.bh_name }} <br>
        <small> 
            ({{ rec.doc_date_from | date:"y-MM-dd" }} &ndash; 
            {{ rec.doc_date_to | date:"y-MM-dd" }}) 
        </small>
    </h1>
</div>

<div>

    <ul ng-cloack class="list-group col-md-6 col-md-offset-3">

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> 
                <span ng-controller="translateCtrl"> {{ 'origin' | translate }} </span> 
            </h4>
            <p class="list-group-item-text"> 
               {{ rec.origin }}
            </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                <span ng-controller="translateCtrl"> {{ 'source_type' | translate }} </span>
            </h4>
            <p class="list-group-item-text"> {{ rec.source_type }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                <span ng-controller="translateCtrl"> {{ 'ownership' | translate }} </span> 
            </h4>
             <p class="list-group-item-text"> {{ rec.ownership }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                 <span ng-controller="translateCtrl"> {{ 'poss_name' | translate }} </span>
            </h4> 
             <p class="list-group-item-text"> {{ rec.poss_name }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">  
                <span ng-controller="translateCtrl"> {{ 'poss_name_var' | translate }} </span></h4> 
            <p class="list-group-item-text"> {{ rec.poss_name_var }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">  
                <span ng-controller="translateCtrl"> {{ 'poss_origin' | translate }} </span>
            </h4> 
             <p class="list-group-item-text"> {{ rec.poss_origin }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">  
                <span ng-controller="translateCtrl"> {{ 'poss_date' | translate }} </span>
            </h4>
            <p class="list-group-item-text"> {{ rec.poss_date}} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                <span ng-controller="translateCtrl"> {{ 'poss_place' | translate }} </span>
            </h4>
            <p class="list-group-item-text"> {{ rec.poss_place }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">  
                <span ng-controller="translateCtrl"> {{ 'poss_occ' | translate }} </span>
            </h4>
            <p class="list-group-item-text"> {{ rec.poss_occ }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">   
                <span ng-controller="translateCtrl"> {{ 'poss_nat' | translate }} </span> 
            </h4>
            <p class="list-group-item-text"> {{ rec.poss_nat }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">    
                <span ng-controller="translateCtrl"> {{ 'rec_name' | translate }}</span>
            </h4>
            <p class="list-group-item-text"> {{ rec.rec_name }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">   
                <span ng-controller="translateCtrl"> {{ 'rec_prev_place' | translate }} </span>
            </h4>
            <p class="list-group-item-text"> {{ rec.rec_prev_place }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">   
                <span ng-controller="translateCtrl"> {{ 'rec_curr_place' | translate }} </span></h4>
            <!-- <p class="list-group-item-text"> {{ rec.rec_curr_place }} </p> -->
            <p class="list-group-item-text" ng-bind-html="rec.rec_curr_place" />
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">   
                <span ng-controller="translateCtrl"> {{ 'rec_prev_score' | translate }} </span>
            </h4>
            <p class="list-group-item-text"> {{ rec.rec_prev_score }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> 
                 
                 <span ng-controller="translateCtrl"> {{ 'rec_pub' | translate }} </span>
            </h4>
            <p class="list-group-item-text"> 
                <ul>
                    <li ng-repeat="pub in rec.rec_pub">
                        {{ pub.item }}
                    </li>
                </ul>
            </p>
        </li>


        <li class="list-group-item">
            <h4 class="list-group-item-heading">   
                <span ng-controller="translateCtrl"> {{ 'book_num_to' | translate }} </span> </h4>
            <p class="list-group-item-text"> 
                {{ rec.book_num_from }}&ndash;{{ rec.book_num_to }} 
            </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> 
                <span ng-controller="translateCtrl"> {{ 'book_title_num_to' | translate }} </span> 
            </h4>
            <p class="list-group-item-text"> 
                {{ rec.book_title_num_from }}&ndash;{{ rec.book_title_num_to }} 
            </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> 
                <span ng-controller="translateCtrl"> {{ 'bh_num' | translate }} </span>
            </h4>
            <p class="list-group-item-text"> {{ rec.bh_num }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> 
                <span ng-controller="translateCtrl"> {{ 'rec_lang' | translate }} </span> 
            </h4>
            <p class="list-group-item-text"> {{ rec.rec_lang }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> 
                <span ng-controller="translateCtrl"> {{ 'inherit' | translate }} </span>
            </h4>
            <p class="list-group-item-text"> {{ rec.inherit }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">  
                <span ng-controller="translateCtrl"> {{ 'vol_missing_num' | translate }} </span>
                 
            </h4>
            <p class="list-group-item-text"> {{ rec.vol_missing_num }} </p>
        </li>

          <li class="list-group-item">
            <h4 class="list-group-item-heading">   
                <span ng-controller="translateCtrl"> {{ 'bibl' | translate }} </span> 
            </h4>
            <p class="list-group-item-text"> 
                <ul>
                    <li ng-repeat="bibl in rec.bibl">
                        {{ bibl.item }}
                    </li>
                </ul>
            </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">   
                <span ng-controller="translateCtrl"> {{ 'prog' | translate }} </span> 
            </h4>
            <p class="list-group-item-text"> {{ rec.prog }} </p>
        </li>
    </ul>
</div>



<div class="col-md-10 col-md-offset-1">
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="text-heading" 
                class="list-group-item-heading">   
                    <span ng-controller="translateCtrl"> {{ 'par' | translate }} </span> 
                </h4>
                <div class="text-container">
                    <p ng-repeat="par in textArray track by $index" 
                        class="text ng-binding" > {{ par }} 
                    </p> 
                </div>
        </li>
    </ul>
</div>



<div class="col-md-10 col-md-offset-1">
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="text-heading" 
                class="list-group-item-heading">   
                <span ng-controller="translateCtrl"> {{ 'note' | translate }} </span>
            </h4>
            <div class="text-container">
                <p ng-repeat="note in noteArray track by $index" 
                    class="text ng-binding" > {{ note }} 
                </p> 
            </div>
        </li>
    </ul>
</div>

<!-- 
   
<div class="col-md-10">
    <pre> {{ rec | json }} </pre>
</div>

 -->

<!-- 

   <p class="list-group-item-text" 
            ng-show="{{rec.poss_name_var}}==''"> 
            <mark><i>Nincs adat.</i></mark> 
        </p>


    <li class="list-group-item">
        <h4 class="list-group-item-heading">  </h4>
        <p class="list-group-item-text"> {{ rec. }} </p>
    </li>

Elnevezés a BH alapján
Származási hely
A dokumentum dátuma (-tól)
A dokumentum dátuma (-ig)
Forrástípus
Intézményi/magán
Tulajdonos neve
Tulajdonos névváltozatai
Tulajdonos származása
Tulajdonoshoz köthető dátum
Tulajdonoshoz köthető hely
Tulajdonos foglalkozása
Tulajdonos nemzetisége
Jegyzék leírója
Jegyzék egykori lelőhelye(i)
Jegyzék mai lelőhelye, jelzete
Jegyzék régebbi jelzete
Jegyzék kiadása(i) (részleges/teljes)
A könyvek száma (-tól)
A könyvek száma (-ig)
A könyvcímek száma (-tól)
A könyvcímek száma (-ig)
Számozása a BH-ban
Jegyzék nyelve
Adományozott/öröklő
Hiányzóként megjelölt kötetek száma
Bibliográfia
Megjegyzés
A könyvjegyzék szövege
A forrásfeldolgozás szintje


bh_name
origin
doc_date_from
doc_date_to
source_type
ownership
poss_name
poss_name_var
poss_origin
poss_date
poss_place
poss_occ
poss_nat
rec_name
rec_prev_place
rec_curr_place
rec_prev_score
rec_pub
book_num_from
book_num_to
book_title_num_from
book_title_num_to
bh_num
rec_lang
inherit
vol_missing_num
bibl
note
text
prog

 -->