<div ng-cloack ng-include="'ng/shared/navbar/navView.html'"></div> 

<div ng-cloack class="page-header col-md-10 col-md-offset-1">
    <h1> {{ rec.bh_name }} 
        <small> 
            ({{ rec.doc_date_from | date:"y-MM-dd" }} &mdash; 
            {{ rec.doc_date_to | date:"y-MM-dd" }}) 
        </small>
    </h1>
</div>

<div>

    <ul ng-cloack class="list-group col-md-6 col-md-offset-3">

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Származási hely </h4>
            <p class="list-group-item-text"> 
               {{ rec.origin }}
            </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">Forrástípus</h4>
            <p class="list-group-item-text"> {{ rec.source_type }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">Intézményi/magán</h4>
             <p class="list-group-item-text"> {{ rec.ownership }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">Tulajdonos neve</h4> 
             <p class="list-group-item-text"> {{ rec.poss_name }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">Tulajdonos névváltozatai</h4> 
            <p class="list-group-item-text"> {{ rec.poss_name_var }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">Tulajdonos származása</h4> 
             <p class="list-group-item-text"> {{ rec.poss_origin }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">Tulajdonoshoz köthető név</h4>
            <p class="list-group-item-text"> {{ rec.poss_name }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">Tulajdonos foglalkozása</h4>
            <p class="list-group-item-text"> {{ rec.poss_occ }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Tulajdonos nemzetisége </h4>
            <p class="list-group-item-text"> {{ rec.poss_nat }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Jegyzék leírója </h4>
            <p class="list-group-item-text"> {{ rec.rec_name }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Jegyzék egykori lelőhelye(i) </h4>
            <p class="list-group-item-text"> {{ rec.rec_prev_place }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Jegyzék mai lelőhelye, jelzete </h4>
            <p class="list-group-item-text"> {{ rec.rec_curr_place }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Jegyzék régebbi jelzete </h4>
            <p class="list-group-item-text"> {{ rec.rec_prev_score }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> 
                Jegyzék kiadása(i) <small>(részleges/teljes)</small> 
            </h4>
            <p class="list-group-item-text"> 
                <ul>
                    <li ng-repeat="pub in rec.rec_pub">
                        {{ pub.item }}
                    </li>
                </ul>
            </p>
        </li>


        <li class="list-group-item">
            <h4 class="list-group-item-heading"> A könyvek száma </h4>
            <p class="list-group-item-text"> 
                {{ rec.book_num_from }}&ndash;{{ rec.book_num_to }} 
            </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> A könyvcímek száma  </h4>
            <p class="list-group-item-text"> 
                {{ rec.book_title_num_from }}&ndash;{{ rec.book_title_num_to }} 
            </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Számozása a BH-ban </h4>
            <p class="list-group-item-text"> {{ rec.bh_num }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Jegyzék nyelve </h4>
            <p class="list-group-item-text"> {{ rec.rec_lang }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Adományozott/öröklő </h4>
            <p class="list-group-item-text"> {{ rec.inherit }} </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> 
                Hiányzóként megjelölt kötetek száma 
            </h4>
            <p class="list-group-item-text"> {{ rec.vol_missing_num }} </p>
        </li>

          <li class="list-group-item">
            <h4 class="list-group-item-heading"> Bibliográfia </h4>
            <p class="list-group-item-text"> 
                <ul>
                    <li ng-repeat="bibl in rec.bibl">
                        {{ bibl.item }}
                    </li>
                </ul>
            </p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> A forrásfeldolgozás szintje </h4>
            <p class="list-group-item-text"> {{ rec.prog }} </p>
        </li>
    </ul>
</div>



<div class="col-md-10 col-md-offset-1">
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="text-heading" 
                class="list-group-item-heading"> A könyvjegyzék szövege </h4>
            <p class="text" class="list-group-item-text"> {{ rec.text }} </p>
        </li>
    </ul>
</div>



<div class="col-md-10 col-md-offset-1">
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="text-heading" 
                class="list-group-item-heading"> Megjegyzés </h4>
            <p class="text" class="list-group-item-text"> {{ rec.note }} </p>
        </li>
    </ul>
</div>


<!-- 
   
<div class="col-md-10">
    <pre> {{ rec | json }} </pre>
</div>


 -->
<!-- 

   <p class="list-group-item-text" 
            ng-show="{{rec.poss_name_var}}==''"> 
            <mark><i>Nincs adat.</i></mark> 
        </p>


    <li class="list-group-item">
        <h4 class="list-group-item-heading">  </h4>
        <p class="list-group-item-text"> {{ rec. }} </p>
    </li>

Elnevezés a BH alapján
Származási hely
A dokumentum dátuma (-tól)
A dokumentum dátuma (-ig)
Forrástípus
Intézményi/magán
Tulajdonos neve
Tulajdonos névváltozatai
Tulajdonos származása
Tulajdonoshoz köthető dátum
Tulajdonoshoz köthető hely
Tulajdonos foglalkozása
Tulajdonos nemzetisége
Jegyzék leírója
Jegyzék egykori lelőhelye(i)
Jegyzék mai lelőhelye, jelzete
Jegyzék régebbi jelzete
Jegyzék kiadása(i) (részleges/teljes)
A könyvek száma (-tól)
A könyvek száma (-ig)
A könyvcímek száma (-tól)
A könyvcímek száma (-ig)
Számozása a BH-ban
Jegyzék nyelve
Adományozott/öröklő
Hiányzóként megjelölt kötetek száma
Bibliográfia
Megjegyzés
A könyvjegyzék szövege
A forrásfeldolgozás szintje


bh_name
origin
doc_date_from
doc_date_to
source_type
ownership
poss_name
poss_name_var
poss_origin
poss_date
poss_place
poss_occ
poss_nat
rec_name
rec_prev_place
rec_curr_place
rec_prev_score
rec_pub
book_num_from
book_num_to
book_title_num_from
book_title_num_to
bh_num
rec_lang
inherit
vol_missing_num
bibl
note
text
prog

 -->