<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
    <link rel="stylesheet" type="text/css" 
        href="/assets/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" 
        href="/assets/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" 
        href="assets/lib/jquery-ui/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" 
        href="/assets/lib/roboto-fontface/css/roboto-fontface.css">

  
</head>

<body class="container-fluid" ng-app="thecaApp">

    <ng-view class="container-fluid"></ng-view>

    <!-- bower:js -->
    <script src="/assets/lib/jquery/dist/jquery.js"></script>
    <script src="/assets/lib/angular/angular.js"></script>
    <script src="/assets/lib/angular-resource/angular-resource.js"></script>
    <script src="/assets/lib/angular-route/angular-route.js"></script>
    <script src="/assets/lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="/assets/lib/jquery-ui/jquery-ui.js"></script>
    <script src="/assets/lib/angular-ui-date/src/date.js"></script>
    <script src="/assets/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/assets/lib/ngAutoComplete/ngAutoComplete.js"></script>
    <!-- endbower -->

    <script src="/ng/main.js"></script>

    <script src="/ng/config.js"></script>
    <script src="/ng/theca/thecaConfig.js"></script>
  

    
    <script src="/ng/theca/components/list/listCtrl.js"></script>
    <script src="/ng/theca/components/upload/uploadCtrl.js"></script>
    <script src="/ng/shared/forms/uploadFormCtrl.js"></script>


    <script src="/ng/shared/navbar/navCtrl.js"></script>

    <script src="/ng/auth/config/authConfig.js"></script>



    <script src="/ng/theca/services/thecaFactory.js"></script>
    <script src="/ng/auth/services/userLoggedInFactory.js"></script> 
    <script src="/ng/auth/services/signupFactory.js"></script> 
    <script src="/ng/auth/services/profileFactory.js"></script> 
    <script src="/ng/auth/services/userFactory.js"></script> 

     
    <script src="/ng/auth/components/signup/signupCtrl.js"></script>

    <script src="ng/auth/components/login/loginCtrl.js"></script>
    <script src="ng/auth/components/profile/profileCtrl.js"></script>
    <script src="ng/auth/components/unauth/unauthCtrl.js"></script>
    <script src="ng/auth/components/users/editUsersCtrl.js"></script>
    <script src="ng/auth/components/users/usersCtrl.js"></script>


    <!-- 
    <script src=""></script>
    <script src=""></script>
 -->
</body>
</html>