<div class="container-fluid" ng-include="'ng/shared/navbar/navView.html'"></div> 

<div class="container-fluid">
    <div class="jumbotron">
        <h1>Regisztráció</h1>
    </div>

    <form class="form-horizontal" name="signupForm" role="form" ng-submit="signup()">
       <div ng-cloack ng-include="'ng/shared/forms/userForm.html'"></div>

    <div class="form-group">
		    <div  class="text-center">
		        <button
                    class="btn btn-success" 
                    type="submit"> 
                    <span class="glyphicon glyphicon-pencil"></span>
                    Regisztráció
                </button> 
	    </div>
	</div>

    </form>
</div>