
	<div class="form-group">
		<label class="control-label col-md-4" for="error"></label>
		<div ng-cloak ng-show="message" class="alert alert-danger col-md-4" role="alert"> 
			{{ message }}
		</div>
	</div>

	<div class="form-group">
	    <label class="control-label col-md-4" for="username">E-mail:</label>
	    <div class="col-md-4">
	        <input name="username" class="form-control" id="username" type="email" 
	        	placeholder="E-mail" ng-model="user.username" required> 
			</input>
	    </div>
	</div>


	<div class="form-group">
	    <label class="control-label col-md-4" for="password">Jelszó:</label>
	    <div class="col-md-4">
	         <input 
	        	class="form-control"
	        	name="password" 
	        	id="password" 
	        	type="password" 
	        	placeholder="Jelszó" 
	        	ng-model="user.password"
	        	pattern=".{6,32}"
	        	required> 
			</input>
	    </div>
	</div>

